*
{
    padding: 0;
    margin: 0;
}

.navbar
{
    background-color: #F0F8FF;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.276);
    width: 100%;
}
.inside
{
    display: flex;
    padding: 10px;
    margin-left: 500px;
}
.logo img
{
    width: 109.64px;
    height: 64px;
}
.link
{
    margin-top: 20px;
    margin-left: -500px;
}
.number{
    margin-top: -25px;
    margin-left: 640px;
}
.link a
{
    
    width: 53px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 27px;
    color: #004F95;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.number h5
{
   
    width: 148px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 30px;
    color: #004F95;
    font-weight: 500;
    font-size: 18px;
    
}
.home
{
    visibility: hidden;
}
.home img
{
    width: 25px;
    height: 18px;
}

@media only screen and (min-width:360px) and (max-width:480px){
    *
    {
        padding: 0;
        margin: 0;
    }
    .navbar{
        width: 100%;
    }
    .inside{
        margin-left: 10px;
    }
    .link a 
    {
        display: none;
    }
    .home img {
        visibility: visible;
        margin-left: -200px;
        width: 30px;
        height: 30px;
        margin-top: 20px;
    }
    .number h5
    {
        display: none;
    }
    .logo img {
        width: 80px;
    }
}
@media only screen and (min-width:481px) and (max-width:600px){
    *
    {
        padding: 0;
        margin: 0;
    }
    .navbar
    {
        width: 100%;
    }
    .inside{
        margin-left: 10px;
    }
    .link a 
    {
        display: none;
    }
    .home img {
        visibility: visible;
        margin-left: -20px;
        width: 30px;
        height: 30px;
        margin-top: 20px;
    }
    .number h5
    {
        display: none;
    }
}
@media only screen and (min-width:600px) and (max-width:768px){
    *
    {
        padding: 0;
        margin: 0;
    }
    .navbar{
        width: 100%;
    }
    .inside{
        margin-left: 10px;
    }
    .link a 
    {
        display: none;
    }
    .home img {
        visibility: visible;
        margin-left: 180px;
        width: 40px;
        height: 40px;
        margin-top: 15px;
    }
    .number h5
    {
        display: none;
    }
}